
.div-title{
  width: 100%;
  text-align: center;
  padding-top: 10%;
}


.title{
  font-size: 50px;
}

.div-ingresar{
  margin-top: 3%;
  width: 100%;
  height: 318px;
  text-align: center;
  background-color: aqua;
  padding: 1%;
  display: none;
}

.div-ingresar-fake{
  margin-top: 3%;
  width: 100%;
  height: 318px;
  text-align: center;
  background-color: aqua;
  padding: 1%;
}

.div-ingresar h2{
  margin-bottom: 1%;
  font-size: 25px;
}

.div-ingresar-2{
  margin-top: 5%;
  width: 100%;
  height: 455px;
  text-align: center;
  background-color: aqua;
  padding: 1%;
}

.div-ingresar-2 h2{
  margin-bottom: 1%;
  font-size: 25px;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 3% 10% 3% 10%; 
  margin-left: 22%;
  margin-right: 22%;
  border-radius: 30px;
}

.div-buttons{
  display: flex;
  margin-top: 9%;
  align-self: center;
}

.form-button{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1%;
  width: 200px;
  height: 40px;
  margin-right: 3%;
}

.form-input{
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  width: 250px;
}

.form h2{
  margin-bottom: 3%;
  font-size: 30px;
  align-self: center;
}

.form-div{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.form-select{
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}

.form-client-select{
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  width: 200px;
  height: 32px;
}

.form-client-input{
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  width: 200px;
}

.form-div-cliente h3{
  font-size: 20px;
  margin-top: 5%;
  align-self: center;
}

.form-div button{
  align-self: center;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1%;
  width: 200px;
  height: 40px;
}

.form-div-cliente p{
  margin-top: 2%;
}

.div-default-R{
  display: flex;
  flex-direction: row;
}

.div-default-C{
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}

.div-buttons div{
  margin-right: 2%;
}

.div-prod-select{
  margin: 2%;
  padding: 2% 6% 6% 6%;
  background-color:azure;
  border-radius: 10px;
}


.div-select-sede {
  margin-top: 2%;
}

.div-select-sede select{
  width: 320px;
  padding: 0.5%;
  border-radius: 10px;
  border: 1px solid black;
}

.form-admin-button{
  background-color: aliceblue;
  border-radius: 10px;
  padding: 1%;
  width: 200px;
  height: 40px;
  margin-right: 3%;
  align-self: center;
}